{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<main class="hero-section">
		<div class="container">
			<h1>Home for {{ session.get('email') }}</h1>
			<br>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Parametr					
						</th>
						<th>
							Celkem
						</th>
						<th>
							Aktuální týden ({{ curr_week }})
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Čas strávený testováním:
						</td>
						<td>
							Dnů: {{ time_wrapped[0] }}, hodin: {{ time_wrapped[1] }}, minut: {{ time_wrapped[2] }}, sekund: {{ '%0.0f'|format(time_wrapped[3]) }}  
						</td>

						<td>
							{{ weekly_time_spent }}
						</td>
					</tr>
					<tr>
						<td>
							Průměrné skóre
						</td>
						<td>
							{{ '%0.0f'|format(avg_score) }} %
						</td>
						<td>
							{{ '%0.0f'|format(weekly_score) }} %
						</td>
					</tr>
					<tr>
						<td>
							Počet testů
						</td>
						<td>
							--
						</td>
						<td>
							{{ weekly_total_exercises }}
						</td>
					</tr>
				</tbody>
			</table>
				<br>


		
			<div class="container">
				

			<!-- form -->

				<form action="{{ url_for('test') }}" method="post">
					Rocnik: 
					<select name="grade">
						<!-- generate menu options for 9 grades (1 to 9 range) -->
						{% for i in range(1,grades) %}
							<option value="{{ i }}">{{ i }}. Rocnik</option>
						{% endfor %}
					</select>
					<br><br>

					<!-- generate exercise topics based on grade -->
					{% for grade in range(1,grades) %}
						Priklady pro {{ grade }}. rocnik: 
						<select name="topic_code">
							{% for exercise in math_exercises_structure %}
								{% if exercise.grade == grade %}
									<option value="{{ exercise.topic_code }}">{{ exercise.topic_label }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<br><br>
					{% endfor %}

					Pocet prikladu: 
					<select name="test_size">
						{% for size in test_sizes %}
							<option value="{{ size.test_size }}">{{ size.test_size }}</option>
						{% endfor %}
	    			</select> 
					<br><br>
					<button type="submit" class="btn btn-primary">Spustit test</button>
				</form>




			</div>



			<div class="container">	
				<br/>
				<a href="{{ url_for('logout') }}">Odhlasit se</a>		
			</div>
		</div>

		<!-- past results -->
		<div class="container">
			<h2>Tvoje vysledky - bude nahrazeno grafy</h2>

			<br>
			{% if test_result %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Typ testu</th>
							<th>Skore</th>
							<th>Pocet prikladu</th>
							<th>Datum</th>
							<th>Tyden</th>
							<th>Cas testu</th>
							<th>Normalni / opakovany</th>
							<th>Detail testu</th>
						</tr>
					</thead>
						{% for result in test_result %}
						<tr>
							<td>{{ result.topic_label }}</td>
							<td>{{ '%0.0f'|format(result.score) }} %</td>
							<td>{{ result.size }}</td>
							<td>{{ result.date.strftime('%d. %m. %Y, %H:%M') }}</td>
							<td>{{ result.week }}
							<td>{{ result.duration_formatted }}</td>
							<td>{{ result.test_type }}</td>
							<td><a href="{{ url_for('tests', test_uid=result.uid) }}">Zobrazit</a></td>
						</tr>
						{% endfor %}
					<tbody>
					</tbody>
				</table>
			{% else %}
				Jeste nemas zadne testy
			{% endif %}

		</div>
		<div class="container">
			devel info:<br>

			<br><br>
			
		</div>



	</main>
{% endblock %}

